*.*
!.vscode
!*.json
!*.code-snippets

## Handlers & defs
!str_hand.def
!flowctrl.def
!const.def
!macros.def

## Modules
!efectos.msa
!utils.msa
!string.msa
!game.msa
!UI.msa

## main
!battle.msa


!README.md
!.gitignore
!.gitattributes