*.*
!.vscode
!*.json
!*.code-snippets

## Handlers & defs
!str_hand.def
!flowctrl.def
!const.def

## Modules
!teclado1.msa
!utils.msa
!string.msa
!game.msa
!UI.msa

## main
!battle.msa
!battle.s19
!battle.r07


!README.md
!.gitignore
!.gitattributes